.config/*
!.config/goneovim/
!.config/i3/
!.config/sway/
!.config/neofetch/
!.config/polybar/
!.config/scoop/
!.config/systemd/user/ssh-agent.service
!.config/conky/
!.config/efm-langserver/
!.config/bottom/
!.config/alacritty/
!.config/rofi/
